{% render 'partials/head.liquid', title: 'VDLE' %}

<main>
    <h2>VDLE index h2</h2>

    <nav>
        <ul>
            <li>
                <a href="/">Alle producten</a>
             </li>

          {% for category in categories %}
                <li>
                <a href="/categorie/{{ category.id }}">
                    {{ category.name }}
                </a>
                </li>
        {% endfor %}
        </ul>
    </nav>

    {% for item in items %}
        <article>
            <h3>{{ item.name }}</h3>
            <p>€ {{ item.base_price }}</p>
        </article>
    {% endfor %}
</main>

{% render 'partials/foot.liquid'%}