{% render 'partials/head.liquid', title: 'Van der Linden Elektrotechniek, Leverancier Jieldé lampen' %}

<main>
    <h1>VDLE index h1</h1>
    <a href="/producten">producten</a>
  
</main>


{% render 'partials/foot.liquid'%}